.b-section
	&-start
		padding: 0px 
		height: 100vh
		background: url(../../img/background/startfon.jpg) no-repeat center
		background-size: cover
		color: #fff
	
	&-width
	 	&-all
	 		background: rgba(0,0,0,0.5)
	 		height: 50%
	 		.h1
	 			font-size: 5vw
	 			line-height: 1
				text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.73)
	 		.h3
	 			font-size: 2.5vw
	 			line-height: 1.5
	 			letter-spacing: 7px
				text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.73)
